<%- include('util_layout/header') %>
<%- include('util_layout/nav') %>
    <h1 class="fs-1"> HELLO ABOUT :)</h1>
    <p>SKIP TO PAGE CONTACT THIS TEXT IS DUMP BRODER</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Labore maiores possimus rem aliquid temporibus voluptates autem commodi quia harum libero.</p>
</body>
</html>